<launch>                             
    <!-- Drone 1 -->
    <node pkg="mavros" type="mavros_node" name="mavros1" required="false" clear_params="true" output="screen" respawn="true" ns="/drone1">
        <param name="fcu_url" value="udp://127.0.0.1:14551@14555" />
        <param name="target_system_id" value="1" />
        <param name="target_component_id" value="1" />
        <rosparam command="load" file="$(find mavros)/launch/apm_pluginlists.yaml" />
        <rosparam command="load" file="$(find mavros)/launch/apm_config.yaml" />
    </node>

    <!-- Drone 2 -->
    <node pkg="mavros" type="mavros_node" name="mavros2" required="false" clear_params="true" output="screen" respawn="true" ns="/drone2">
        <param name="fcu_url" value="udp://127.0.0.1:14561@14565" />
        <param name="target_system_id" value="2" />
        <param name="target_component_id" value="1" />
        <rosparam command="load" file="$(find mavros)/launch/apm_pluginlists.yaml" />
        <rosparam command="load" file="$(find mavros)/launch/apm_config.yaml" />
    </node>

    <!-- Drone 3 -->
    <node pkg="mavros" type="mavros_node" name="mavros3" required="false" clear_params="true" output="screen" respawn="true" ns="/drone3">
        <param name="fcu_url" value="udp://127.0.0.1:14571@14575" />
        <param name="target_system_id" value="3" />
        <param name="target_component_id" value="1" />
        <rosparam command="load" file="$(find mavros)/launch/apm_pluginlists.yaml" />
        <rosparam command="load" file="$(find mavros)/launch/apm_config.yaml" />
    </node>
</launch>

